# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

variables:
  serverNameImg: 'graphnode'

jobs:
- job: Build
  steps:
    - task: Docker@2
      displayName: Login to Docker Hub
      inputs:
        command: login
        containerRegistry: dockerRegistryServiceConnection
    - task: Docker@2
      displayName: Build an image
      inputs:
        repository: $(serverNameImg)
        command: buildAndPush
        Dockerfile: server/Dockerfile.dev
    - task: Docker@2
      displayName: Logout of ACR
      inputs:
        command: logout
        containerRegistry: dockerRegistryServiceConnection
      
- deployment: VMDeploy
  displayName: web
  environment:
    name: ovh
    resourceType: VirtualMachine
  strategy:
    runOnce:
      preDeploy:
          steps:
          - bash: cd ~ & git pull origin master
      deploy:
        steps:
        - script: echo 'lool'